/*@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body.dark {
    background: #292c35;
  }
 body.dark {
    overflow-x: hidden;
    overflow: hidden;
    animation: mohamedd 3s ease infinite both;
}
@keyframes mohamedd {
    from{
        background-image: linear-gradient(to right, #1e2122, #000000);
    }
    to{
        background-image: linear-gradient(to right, #1e2122, #000000);
    }
}

.checkbox {
    opacity: 0;
    position: relative;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
  
  }
  
  
  .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}
nav div{
    display: inline-block;
} */
nav{
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    padding: 10px;
    animation: nav 3s ease infinite both;
}
@keyframes nav {
    from{
        background-image: linear-gradient(to right, #0078AA, #F6F6F6);
    }
    to{
        background-image: linear-gradient(to right, #F6F6F6, #0078AA);
    }
}
nav a, nav a:focus {
    text-decoration: none;
    font-size: 16px;
    margin: 100px 30px;
    padding: 10px;
    color: #0078AA;
    font-weight: bold;
    position: relative;
    transition: 0.7s ease;
}
nav .active, nav a:hover{
    border-bottom: 4px solid  #0078AA;
    border-top: 4px solid  #0078AA;
    background-color: white;
    color: darkgray;
}
nav a:hover::before, nav .active:hover::before {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #0061c9;
    color: #0078AA;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    top: 80%;
    transition: 1s;
    transform: scale(1.1);
    text-decoration: none;
    animation: nava 3s ease infinite both;
    visibility: visible;
}
/* ***********  Media  *********** */
@media screen and (min-width:200px) and (max-width:400px) {
    nav{
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 3;
        padding: 4px;
        animation: nav 3s ease infinite both;
        width: 100%;
    }
    @keyframes nav {
        from{
            background-image: linear-gradient(to right, #0078AA, #F6F6F6);
        }
        to{
            background-image: linear-gradient(to right, #F6F6F6, #0078AA);
        }
    }
    nav a, nav a:focus {
        text-decoration: none;
        color: darkgrey;
        font-weight: bold;
        position: relative;
        transition: 0.7s ease;
        text-decoration: none;
        font-size: 17px;
        margin: 30px 12px;
        padding: 3px;
        color: darkgrey;
        font-weight: bold;
        position: relative;
        transition: 0.7s ease;
    }
    nav .active, nav a:hover{
        border-bottom: 4px solid  #0078AA;
        border-top: 4px solid  #0078AA;
        background-color: white;
        color: darkgray;
    }
    nav a:hover::before, nav .active:hover::before {
        content: "";
        width: 30px;
        height: 2px;
        background-color: #0061c9;
        color: #0078AA;
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -4px;
        top: 80%;
        transition: 1s;
        transform: scale(1.1);
        text-decoration: none;
        animation: nava 3s ease infinite both;
        visibility: visible;
    }
}
@media screen and (min-width:401px) and (max-width:600px) {
    nav{
        position: fixed;
        top: 30px;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 3;
        padding: 10px;
        animation: nav 3s ease infinite both;
        width: 100%;
    }
    @keyframes nav {
        from{
            background-image: linear-gradient(to right, #0078AA, #F6F6F6);
        }
        to{
            background-image: linear-gradient(to right, #F6F6F6, #0078AA);
        }
    }
    nav a, nav a:focus {
        text-decoration: none;
        color: darkgrey;
        font-weight: bold;
        position: relative;
        transition: 0.7s ease;
        text-decoration: none;
        font-size: 17px;
        margin: 40px 15px;
        padding: 4px;
        color: darkgrey;
        font-weight: bold;
        position: relative;
        transition: 0.7s ease;
    }
    nav .active, nav a:hover{
        border-bottom: 4px solid  #0078AA;
        border-top: 4px solid  #0078AA;
        background-color: white;
        color: darkgray;
    }
    nav a:hover::before, nav .active:hover::before {
        content: "";
        width: 50px;
        height: 2px;
        background-color: #0061c9;
        color: #0078AA;
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -4px;
        top: 80%;
        transition: 1s;
        transform: scale(1.1);
        text-decoration: none;
        animation: nava 3s ease infinite both;
        visibility: visible;
    }
}
@media screen and (min-width:601px) and (max-width:880px) {
    nav{
        position: fixed;
        top: 30px;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 3;
        padding: 10px;
        animation: nav 3s ease infinite both;
        width: 100%;
    }
    @keyframes nav {
        from{
            background-image: linear-gradient(to right, #0078AA, #F6F6F6);
        }
        to{
            background-image: linear-gradient(to right, #F6F6F6, #0078AA);
        }
    }
    nav a, nav a:focus {
        text-decoration: none;
        color: darkgrey;
        font-weight: bold;
        position: relative;
        transition: 0.7s ease;
        text-decoration: none;
        font-size: 17px;
        margin: 70px 35px;
        padding: 5px;
        color: darkgrey;
        font-weight: bold;
        position: relative;
        transition: 0.7s ease;
    }
    nav .active, nav a:hover{
        border-bottom: 4px solid  #0078AA;
        border-top: 4px solid  #0078AA;
        background-color: white;
        color: darkgray;
    }
    nav a:hover::before, nav .active:hover::before {
        content: "";
        width: 50px;
        height: 2px;
        background-color: #0061c9;
        color: #0078AA;
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -4px;
        top: 80%;
        transition: 1s;
        transform: scale(1.1);
        text-decoration: none;
        animation: nava 3s ease infinite both;
        visibility: visible;
    }
}
/*@keyframes nava {
    from{
        background-image: linear-gradient(to right, #0078AA, #F6F6F6);
    }
    to{
        background-image: linear-gradient(to right, #F6F6F6, #0078AA);
    }
} */